<div class="notes-container">
  <app-header>
    <app-search (searchInputValue)="getSearchInputValue($event)" [removeSearchValue]="removeSearchValue"></app-search>
  </app-header>
  <app-note-form (addNewNote)="getNotes()"></app-note-form>
  <div class="note-list-container" [class.hide]="!visibleNotes.length">
    <app-note *ngFor="let note of visibleNotes" [note]="note" (triggerEditedNote)="editNote($event)"
              (openOfConfirmModal)="openOfConfirmModal($event)"
              (triggerDeletedNoteId)="deleteNote()">
    </app-note>
  </div>
  <app-chart [class.hide]="!visibleNotes.length"></app-chart>
</div>
<div>hear can be your notes</div>


<div class="confirmation-modal" [class.hide]="hideConfirmationModal"
     (click)="closeConfirmationModal()">
  <div class="content">
    <i class="i-cross" (click)="closeConfirmationModal()"></i>
    <img src="assets/img/remove.jpg" alt="">
    <span>Are you sure? </span>
    <div class="buttons">
      <button class="btn cancel-btn" (click)="closeConfirmationModal()">Cancel</button>
      <button class="btn delete-btn" (click)="deleteNote()">Delete</button>
    </div>
  </div>
</div>

