<div class="notes-container">
  <app-header>
    <app-search (searchInputValue)="getSearchInputValue($event)" [removeSearchValue]="removeSearchValue"></app-search>
  </app-header>
  <app-note-form (addNewNote)="getNotes()"></app-note-form>
  <div class="note-list-container">
    <app-loader [class.hide]="!pending"></app-loader>
    <app-note *ngFor="let note of visibleNotes"
              [class.hide]="!visibleNotes.length || pending"
              [note]="note"
              (triggerEditedNote)="editNote($event)"
              (openOfConfirmModal)="openOfConfirmModal($event)"
              (triggerDeletedNoteId)="deleteNote()">
    </app-note>
<!--    <div class="no-notes-container">-->
      <p [class.hide]="pending || visibleNotes.length" class="no-notes">Hear can be your notes</p>
<!--    </div>-->
  </div>
  <!--  <app-loader></app-loader>-->
    <app-chart [class.hide]="!visibleNotes.length"></app-chart>

</div>


<div class="confirmation-modal" [class.hide]="hideConfirmationModal"
     (click)="closeConfirmationModal()">
  <div class="content">
    <i class="i-cross" (click)="closeConfirmationModal()"></i>
    <img src="assets/img/remove.jpg" alt="">
    <span>Are you sure? </span>
    <div class="buttons">
      <button class="btn cancel-btn" (click)="closeConfirmationModal()">Cancel</button>
      <button class="btn delete-btn" (click)="deleteNote()">Delete</button>
    </div>
  </div>
</div>

