<form class="form-container" [formGroup]="noteForm">
  <p class="form-header">Create Note</p>
  <div class="note-title-container">
    <p class="input-title">Note Title</p>
    <input type="text" formControlName="title" name="title">
  </div>
    <!--  </div>-->
    <div class="note-description-container">
      <p class="input-title">Note</p>
      <textarea formControlName="note"></textarea>
    </div>
    <div class="add-button">
      <button (click)="addNote()">Create</button>
    </div>
</form>
