@import "assets/fonts/icons/style.css";

:root {
  --color-primary: #00a789;
  --color-white: #FFF;
  --color-grey-light-1: #F5F6F8;
  --color-grey-light-2: #eaeaea;
  --color-grey-dark: #bbbbbb;
  --color-black: #000;
  --color-black-opacity: rgba(0, 0, 0, 0.65);
  --color-red: #ff0000
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  position: relative;
}
