<div class="container">
<div class="note-container" [class.hide]="!hideEditModal">
  <div class="note-header">
    <p class="title">{{note.title}}</p>
    <div class="icons">
      <i class="i-pencil" (click)="toggleEditModal()"></i>
      <i class="i-bin" (click)="deleteNote()"></i>
    </div>
  </div>
  <div class="note">
    <p>{{note.note}}</p>
  </div>
</div>
<form class="edit-container" [class.hide]="hideEditModal" [formGroup]="noteEditForm" (ngSubmit)="editNote()">
  <div class="edit">
    <i class="i-cross" (click)="toggleEditModal()"></i>
    <div class="note-title-container">
      <p class="input-title">Note Title</p>
      <input type="text" [value]="note.title" id="title" formControlName="title">
      <div class="error-message-container" *ngIf="noteEditForm.controls['title']?.invalid && (noteEditForm.controls['title']?.dirty || noteEditForm.controls['title']?.touched)">
        <span class="error-message" *ngIf="noteEditForm.controls['title']?.errors?.['required']">Title required.</span>
        <span class="error-message" *ngIf="noteEditForm.controls['title']?.errors?.['maxlength']"> Note must be less than 255 characters long.</span>
      </div>
    </div>
    <div class="note-description-container">
      <p class="input-title">Note</p>
      <textarea [value]="note.note" id="note" formControlName="note"></textarea>
      <div class="error-message-container" *ngIf="noteEditForm.controls['note']?.invalid && (noteEditForm.controls['note']?.touched)">
        <span class="error-message" *ngIf="noteEditForm.controls['note']?.errors?.['required']">Note is required.</span>
      </div>
    </div>
    <div class="save-button">
      <button [disabled]="noteEditForm.invalid">Save</button>
    </div>
</div>
</form>
</div>