<!--<li>{{note.name}}</li>-->
<!--<button (click)="editNote(note.id)">Edit note</button>-->
<!--<button (click)="deleteNote(note.id)">Delete note</button>-->
<div class="container">
<div class="note-container" [class.hide]="!hideEditModal">
  <div class="note-header">
    <p class="title">{{note.title}}</p>
    <div class="icons">
      <i class="i-pencil" (click)="toggleEditModal()"></i>
      <i class="i-bin" (click)="deleteNote()"></i>
    </div>
  </div>
  <div class="note">
    <p>{{note.note}}</p>
  </div>
</div>
<div class="edit-container" [class.hide]="hideEditModal">
  <div class="edit">
    <i class="i-cross" (click)="toggleEditModal()"></i>
    <div class="note-title-container">
      <p class="input-title">Note Title</p>
      <input type="text" [value]="note.title">
    </div>
    <div class="note-description-container">
      <p class="input-title">Note</p>
      <textarea [value]="note.note"></textarea>
    </div>
    <div class="save-button">
      <button>Save</button>
    </div>
</div>
</div>
</div>
